<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- localhost:3000/send -->

    <form action="/send" method="POST">
        <label for="">NAME</label>
        <input type="text" name="uname" id=""><br>

        <label for="">Age</label>
        <input type="number" name="age" id=""> <br>

        <label for="">Hobbies</label>
        <input type="text" name="hobbies" id=""> <br>

    
        <button type="submit">SUBMIT</button>
    </form>

</body>
</html>