<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>CK12 class admission form</h1>

  <form action="/info" method="post">
    <label for="">Name of student</label>
    <input type="text" name="Sname" id=""><br>

    <label for="">Name of parent</label>
    <input type="text" name="Pname" id=""><br>

    <label for="">Name of any guardian</label>
    <input type="text" name="Gname" id=""><br>

    <label for="">Payment method?</label>
    <input type="text" name="pay" id=""><br>

    <button type="submit">SUBMIT!!</button>
  </form>
</body>

</html>